@mixin loading-spinner-colors($foreground: $spinner-color, $background: $spinner-background-color) {
  box-shadow: inset 0 0 0 $spinner-thickness $foreground;

  &::before,
  &::after {
    background-color: $background;
  }
}

@mixin loading-spinner {
  display: block;
  position: relative;
  width: $spinner-size;
  height: $spinner-size;
  pointer-events: none;

  &,
  &::before,
  &::after {
    border-radius: 50%;
  }

  $overlap: 1.1 * $spinner-size;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 0.6 * $spinner-size;
    height: $overlap;
    top: 50%;
    margin: ($overlap / -2);
  }

  &::before {
    border-radius: $overlap 0 0 $overlap;
    left: 50%;
    @include transform-origin(($overlap / 2) ($overlap / 2));
    @include animation(loading-spinner-sweep 2s infinite ease 1.5s);
  }

  &::after {
    border-radius: 0 $overlap $overlap 0;
    right: 50%;
    @include transform-origin((0.05 * $spinner-size) ($overlap / 2));
    @include animation(loading-spinner-sweep 2s infinite ease);
  }

  @include animation(loading-spinner-sweep 10s infinite linear);

  @include loading-spinner-colors;
}

@include keyframes(loading-spinner-sweep) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

.loading-spinner {
  @include loading-spinner;
}
