%button {
  -webkit-font-smoothing: antialiased;
  outline: none;
  padding: 0 0.5rem;
  line-height: 2.25rem;
  height: 2.25rem;
  vertical-align: middle;
  margin: 0 0.5rem;
  background-color: $base-button-background;
  text-decoration: none;
  border-radius: $base-border-radius;
  min-width: 5.5rem;
  text-align: center;

  &:first-child, & + %button { margin-left: 0; }

  &:last-child { margin-right: 0; }

  &:hover { background-color: $hover-button-background; }

  &:focus { background-color: $focus-button-background; }

  &:active { background-color: $active-button-background; }

  &:disabled { color: disabled-color(); }
}
