@import "colors";

// Typography
$sans-serif: "Roboto", $helvetica;
$serif: "Roboto Slab", $georgia;
$base-font-family: $sans-serif;
$header-font-family: $serif;
$base-font-weight: 400;
$bold-font-weight: 600;
$light-font-weight: 200;
$header-font-weight: 400;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: text-color();
$base-accent-color: $light-blue;
$light-accent-color: $light-blue-100;
$dark-accent-color: $light-blue-700;
$base-secondary-color: $pink-A200;
$light-secondary-color: $pink-A100;
$dark-secondary-color: $pink-A400;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: text-color();
$base-button-background: transparent;
$hover-button-background: rgba(#999, 0.2);
$focus-button-background: $hover-button-background;
$active-button-background: rgba(#999, 0.4);

// Flash Colors
$alert-color: $yellow-100;
$error-color: $red-100;
$notice-color: $light-blue-100;
$success-color: $light-green-100;

// Border color
$base-border-color: divider-color();
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: $base-border-color;
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Animation
$animation-duration: 0.5s;
$animation-timing-function: $ease-out-cubic;
$reverse-animation-timing-function: $ease-in-cubic;

$keyline: 4.5rem;

// App bar
$app-bar-height: 3.5rem;
$app-bar-background-color: $base-accent-color;
$app-bar-color: white;

// Navigation
$side-navigation-max-width: 25rem;
$side-navigation-z-index: 100;

// Lists
$list-item-padding: 1rem;

// Dialogs
$dialog-footer-height: 3rem;
$dialog-margin: 2.5rem;
$dialog-z-index: 300;
$dialog-border-radius: 0.125rem;
$dialog-shadow: 0px 1rem 0.75rem 0px rgba(0, 0, 0, 0.22), 0px 1.25rem 2.5rem 0px rgba(0, 0, 0, 0.30);

// Calendar
$calendar-border-color: #E1E1E1;

// Alerts
$alert-z-index: 200;
$alert-color: white;
$alert-background-color: #323232;
$alert-height: 3rem;
