// Font path
// --------------------------
@font-face {
  font-family: 'Material Design Iconic Font';
  src: asset-url('Material-Design-Iconic-Font.eot');
  src: asset-url('Material-Design-Iconic-Font.eot?#iefix') format('embedded-opentype'),
       asset-url('Material-Design-Iconic-Font.woff') format('woff'),
       asset-url('Material-Design-Iconic-Font.ttf') format('truetype'),
       asset-url('Material-Design-Iconic-Font.svg#Material-Design-Iconic-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}
