%button {
  @include type-button($base-accent-color);

  i:first-child:last-child {
    display: block;
    height: 1em;
  }
}

input, textarea {
  @include placeholder {
    color: secondary-color();
    font-weight: $base-font-weight;
  }
}
