//
// Icon Font: icons
//

@font-face {
  font-family: "icons";
  src: font-url("icons_ebb30046fdc75613d239b1144710c6a0.eot");
  src: font-url("icons_ebb30046fdc75613d239b1144710c6a0.eot?#iefix") format("embedded-opentype"),
       font-url("icons_ebb30046fdc75613d239b1144710c6a0.woff") format("woff"),
       font-url("icons_ebb30046fdc75613d239b1144710c6a0.ttf") format("truetype"),
       font-url("icons_ebb30046fdc75613d239b1144710c6a0.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: font-url("icons_ebb30046fdc75613d239b1144710c6a0.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-access-time:before,
.icon-add:before,
.icon-arrow-back:before,
.icon-arrow-drop-down:before,
.icon-check:before,
.icon-check-circle:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-clear:before,
.icon-done:before,
.icon-error:before,
.icon-event:before,
.icon-group:before,
.icon-group-add:before,
.icon-inbox:before,
.icon-lock:before,
.icon-menu:before,
.icon-person:before,
.icon-reorder:before,
.icon-search:before,
.icon-settings:before {
    display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-access-time:before { content: "\f103"; }
.icon-add:before { content: "\f10b"; }
.icon-arrow-back:before { content: "\f11e"; }
.icon-arrow-drop-down:before { content: "\f11f"; }
.icon-check:before { content: "\f329"; }
.icon-check-circle:before { content: "\f32a"; }
.icon-chevron-left:before { content: "\f185"; }
.icon-chevron-right:before { content: "\f186"; }
.icon-clear:before { content: "\f188"; }
.icon-done:before { content: "\f32b"; }
.icon-error:before { content: "\f325"; }
.icon-event:before { content: "\f1d1"; }
.icon-group:before { content: "\f232"; }
.icon-group-add:before { content: "\f328"; }
.icon-inbox:before { content: "\f326"; }
.icon-lock:before { content: "\f327"; }
.icon-menu:before { content: "\f2aa"; }
.icon-person:before { content: "\f2ed"; }
.icon-reorder:before { content: "\f324"; }
.icon-search:before { content: "\f32d"; }
.icon-settings:before { content: "\f32c"; }

$font-icons-access-time: "\f103";
$font-icons-add: "\f10b";
$font-icons-arrow-back: "\f11e";
$font-icons-arrow-drop-down: "\f11f";
$font-icons-check: "\f329";
$font-icons-check-circle: "\f32a";
$font-icons-chevron-left: "\f185";
$font-icons-chevron-right: "\f186";
$font-icons-clear: "\f188";
$font-icons-done: "\f32b";
$font-icons-error: "\f325";
$font-icons-event: "\f1d1";
$font-icons-group: "\f232";
$font-icons-group-add: "\f328";
$font-icons-inbox: "\f326";
$font-icons-lock: "\f327";
$font-icons-menu: "\f2aa";
$font-icons-person: "\f2ed";
$font-icons-reorder: "\f324";
$font-icons-search: "\f32d";
$font-icons-settings: "\f32c";
