nav.main-navigation {
  @include position(fixed, 0rem null 0rem (-$side-navigation-max-width));
  z-index: $side-navigation-z-index;
  width: 100%;
  max-width: $side-navigation-max-width + $app-bar-height;
  padding-left: $app-bar-height;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0);
  margin-left: -$app-bar-height;
  overflow-y: auto;
  -webkit-overflow-scroll: touch;

  @include transition(all $animation-duration $animation-timing-function);

  + .scrim {
    @include scrim-inactive;
  }

  #show-navigation:checked ~ & {
    left: 0rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    @include transition(all $animation-duration $animation-timing-function);

    + .scrim {
      @include scrim-active;
    }
  }

  .app-bar {
    height: 10rem;
  }

  h3 {
    @include type-subhead;
    padding: 0.5rem 1rem;
    border-top: 1px solid divider-color();

    + .list {
      padding-top: 0;
    }
  }

  .list-item {
    .primary-action .icon {
      left: 1.5rem;
    }

    &.active,
    &:hover {
      background: rgba(black, 0.02);
    }
  }
}

.main.stack {
  @include position(absolute, 0rem 0rem 0rem 0rem);
}

@include media($huge-screen) {
  nav.main-navigation {
    left: 0rem;
    box-shadow: none !important;
    border-right: 1px solid divider-color();
    @include transition(none);

    #show-navigation:checked ~ & + .scrim {
      display: none;
    }
  }

  .main.stack {
    left: $side-navigation-max-width;

    section > header [for=show-navigation] {
      visibility: hidden;
    }
  }
}

#show-navigation {
  display: none;
}

.stack > section:not(.active) {
  display: none;
}
