.tabs {
  height: 3rem;
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);

  li {
    @include flex(1);

    a {
      @include type-tab;
      display: block;
      padding: 1rem 0.75rem 0.875rem;
      border-bottom: 0.125rem solid transparent;
      color: secondary-color();
    }

    &.active {
      a {
        color: text-color();
        border-bottom-color: $base-secondary-color;
      }
    }
  }
}
